body {
	font-size: 14px;
	margin: 20px;
}

input,
button {
	font-size: 12px;
	padding: 5px;
}

input {
	border: 1px solid #bbb;
}

button {
	border: 1px solid #aaa;
}

.completed-item {
	color: lightgray;
	text-decoration: line-through;
}
